.navbar-nav > li > a {
  padding-top: 13px !important;
  padding-bottom: 10px !important;
}
.navbar {
  min-height: 30px !important;
}
.navbar-brand {
  padding-top: 15px;
  padding-bottom: 0;
}
.navbar-default {
  background-color: #c4e6ff;
}
body {
  padding-top: 55px;
  /*needed because of the nav*/
  font-family: 'Roboto', sans-serif;
  background: #547390;
  word-wrap: break-word;
  /*avoid text going out of the div because of large words*/
  font-size: 12px;
}
.panel-heading {
  margin: 0px;
  padding: 5px;
}
.panel-body {
  margin: 0px;
  padding: 10px;
}
.tab-pane {
  background-color: white;
  padding: 20px;
}
.tab-pane div {
  border-radius: 0px;
}
#footer {
  width: 700px;
}
/* para que este centrado hay que definir width en px *//* HELPER CLASSES */.apuntes {
  font-family: 'Lora', serif;
}
/* Texto con serif */.dark {
  color: white;
}
.dark h1 small {
  color: #eee;
}
.dark h2 small {
  color: #eee;
}
.dark a {
  color: #b3d0e9;
}
.dark a:hover {
  color: black;
}
.feed {
  font-size: 16px;
}
.res-placehold {
  background: LightGray;
  height: 250px;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.bodypanel {
  background-color: white;
  padding: 20px 0 20px 0;
  margin-top: 20px;
}
.bodyheader {
  background-color: white;
  padding: 10px;
}
